@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro/light/GothamPro-Light.eot');
    src: url('../fonts/GothamPro/light/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamPro/light/GothamPro-Light.woff') format('woff'),
         url('../fonts/GothamPro/light/GothamPro-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    }

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro/regular/GothamPro.eot');
    src: url('../fonts/GothamPro/regular/GothamPro.eot?#iefix') format('embedded-opentype'),
            url('../fonts/GothamPro/regular/GothamPro.woff') format('woff'),
            url('../fonts/GothamPro/regular/GothamPro.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    }

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro/medium/GothamPro-Medium.eot');
    src: url('../fonts/GothamPro/medium/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamPro/medium/GothamPro-Medium.woff') format('woff'),
         url('../fonts/GothamPro/medium/GothamPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    }

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro/bold/GothamPro-Bold.eot');
    src: url('../fonts/GothamPro/bold/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
            url('../fonts/GothamPro/bold/GothamPro-Bold.woff') format('woff'),
            url('../fonts/GothamPro/bold/GothamPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    }